* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.navbar-brand{
 color:#0096FF !important;
 font-weight: bolder;
 font-size: 25px;
 margin-left: 40px;
 padding: 5px;
}

.nav-item a{
  color: white!important;
  font-size: 20px;
  margin-left: 40px;;

}
.navbar-toggler{
  background-color:white !important;
}

.nav-item a:hover{
    color:#0096FF!important;
}

.banner{
  background: url(../images/2.jpg);width:100%;height:500px;
    background-repeat:no-repeat;background-size:100% 500px;margin-top:10px;
}

.courses{
  width:100%;
  height:350px;
  margin-top:20px;            
  display:flex;
  flex-wrap: wrap;

}
.courses h1{
  text-align:center;
  color:#0096FF;
  margin-top:10px;
  font-size:30px;
}

.course1{
  width:20%;
  height:220px;
  float:left;
  margin:3% 0% 0% 4%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.course1 img{
  width:100%;
  height:190px;
}

.coursetitle{
  background-color:#0096FF;
  width:100%;
  height:30px;
}
.coursetitle h3{
  font-family:tahoma;
  color:white;
   text-align:center;
   font-size:20px;
  }
.course1:hover{
  margin-top:30px;
}

.spec{
  width:100%;
  height:300px;
  
}

.spec h1{
  text-align:center;
  color:#0096FF;
  margin-top:10px;
  font-size:20px;
}
.spec1{
  width:20%;
  height:180px;
  float:left;margin:2% 0% 0% 4%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border-radius:10%;
}
.spec1 h3{
  font-family:tahoma;
  color:#0096FF;
   text-align:center;
   margin-top:20px;
   font-size:22px;
  }
.spec1 p{
  font-family:tahoma;
     font-size:15px;
     text-align:left;
     padding:9px;
    }

.spec1:hover{
  margin-top:20px;
}

.contact h1{
  text-align:center;
  color:#0096FF;
  margin-top:10px;
  font-size:20px;
}

.footer{width:100%;
   height:240px;
   background-color:black;
  }
.flist1{
  width:30%;
  height:240px;
  float:left;
}
.flist1 h4{
  font-size:22px;
  font-family:tahoma;
  color:#0096FF;

  margin-left:50px;
}
.flist1 p{
  font-size:16px;
  font-family:tahoma;
  color:white;
  margin-left: 50px;

} 
.flist2{
  width:20%;
  height:240px;
  float:left;
}
.flist2 h4{
  font-size:22px;
  font-family:tahoma;
  color:#0096FF;
  margin-left:50px;
}
.flist2 li{
  list-style:none;
  font-family:tahoma;
  font-size:16px;
  margin-top:10px;
  margin-left:20px;
  color:white;
}
.flist2 li a{
  text-decoration:none;
  color:white;
}
  
@media only screen and (max-width:768px){
  .courses{
    height:200px;
    margin-top:10px;
  }

  .courses h1{
    margin-top:5px;
    font-size:15px;
  }

.course1{
  height: 130px; 
}

.course1 img{
  width:100%;
  height:100px;
}

.coursetitle{
  height:30px;
}

.course1:hover{
  margin-top:10px;
}
  .coursetitle h3{
    font-size: 12px;
  } 

  .spec{
    width:100%;
    height:200px;
  }
  
  .spec h1{
    margin-top:5px;
    font-size:15px;
  }
  .spec1{
    height:120px;   
  }

  .spec1 h3{  
     margin-top:10px;
     font-size:10px;
    }

  .spec1 p{
       font-size:0.5rem;
       padding:5px 10px;
      }

      .footer{
        height:180px;
       }
     .flist1{
       height:160px;
     }
     .flist1 h4{
       font-size:15px;     
       margin-left:20px;
     }
     .flist1 p{
       font-size:12px;
       margin-left: 20px;
      
     } 
     .flist2{
       height:160px;
     }
     .flist2 h4{
       font-size:15px;
       margin-left:10px;
     }
     .flist2 li{
       font-size:12px;
       margin-top:10px;
       margin-left:5px;
     }
}
